.action-column{
    button:nth-child(1){
        margin-right: 12px;
    }
   
}
.add-btn-wrapper{
    display: flex;
    justify-content: flex-end;
    margin-right: 70px;
    margin-top: 50px;
    
}
.spinner-border{
    margin-top: 250px;
    margin-left: 50%;
    margin-right: 50%;

}
.table-wrapper{
    padding:60px;
}