.signup-wrapper{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    form{
        width: 600px;
    }
    .btn-margin{
        margin-left: 45%;
        margin-right: 50%;
    }
    .signup-link{
        display: flex;
        justify-content: center;
    }
    .signup-link a{
        text-decoration: none;
        
    }
}
